body{
	margin: 0;
	background-color: #E0E0E0/*#F7F7F7*/;
}
/*Menu-----------------------------------------------------------------------------*/
*{
  padding: 0;
  margin: 0;
}
header{
  margin: auto;
  width: 100%;
  height: 12%;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  z-index: 10;
}

ul li{
  list-style: none;

}
nav li a{
  background-color: #FFC107;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: 400;
}
nav{
  float: left;
  font-weight: 500;
}
li>li{
  display: none;

}
nav li a:hover{
  background-color: #DCDCDC;
}
nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}
nav li:hover >ul{ /*li directos de ul*/
  display: block;
}
nav li ul li{
  position: relative;
}
nav li ul li ul{
  right: -140px;
  top: 0;
}
/*Primera sección------------------------------------------------------------------*/
section{
}
#upper-row{
	position: absolute;
	width: 100%;
	height: 44%;
	top: 12%;
}
.contenedor-data1{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #FFF;
	box-sizing: border-box;
}
.contenedor-data2{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-left: 5px;
	top: 50%;
	background-color: #FFF;
	box-sizing: border-box;
}
#contenedor{
	width: 40%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
  	left: 20%;
  	padding: 5px;
  	padding-bottom: 0;
  	box-sizing: border-box;
}
.graph-left1{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	left: 60%;
	background-color: #FFF;
	box-sizing: border-box;
}
#graph1{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}
.graph-left2{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	top: 50%;
	left: 60%;
	background-color: #FFF;
	box-sizing: border-box;
}
#graph2{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	top: 50%;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}

#down-row{
	position: absolute;
	width: 100%;
	height: 44%;
	top: 56%;
}
#cont{
	width: 40%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	left: 20%;
	padding: 5px;
  	box-sizing: border-box;
}
#graph3{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}
#graph4{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	top: 50%;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}
