body{
	margin: 0;
	background-color: #E0E0E0/*#F7F7F7*/;
	height: 100%;
}
/*Menu-----------------------------------------------------------------------------*/
*{
  padding: 0;
  margin: 0;

}

header{
  margin: auto;
  width: 100%;
  height: 10%;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  /*border-bottom: 1px solid black;*/
  box-sizing: border-box;
  z-index: 10;
	background-color: white;


}
nav{
  float: left;

}

nav ul li{
  list-style: none;

}
nav li a{
  background-color: #FFC107;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: 400;
}

nav li>li{
  display: none;

}
nav li a:hover{
  background-color: #DCDCDC;
	font-weight: 700;
}
nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}
nav li:hover >ul{ /*li directos de ul*/
  display: block;
}
nav li ul li{
  position: relative;
}
nav li ul li ul{
  right: -140px;
  top: 0;
}
.logo{
	position: absolute;
	margin-left: 600px;
	width: 160px;
	height: 100%;

}
.sede{
	position: absolute;
	margin-left: 40px;
	margin-top: 25px;

}
.menu1{
	font-weight: 500;
	width: 80px;

}
.flag{
	width: 25px;
	height: 15px;
	margin-right: 5px;
}
.fa-bars{
	position: absolute;
	margin-left: 1200px;
	margin-top: 15px;
	font-size: 35px;
	color: black;

}
select{
	position: absolute;
	margin-left: 1265px;
	margin-top: 5px;
}
/*media seccion: BOTONES -----------------------------------------------*/
.botones{
	width: 80px;
	box-sizing: border-box;
	margin-top: 68px;

}
.botones button{
	padding: 10px 15px;
	background: #FFC107;
	font-weight: 500;
	position: absolute;
	width: 100px;

}
.botones li:nth-child(1){
	margin-left: 190px;
	margin-top: -40px;
	list-style: none;
}
.botones li:nth-child(2){
	margin-left: 290px;
	list-style: none;
}
.botones li:nth-child(3){
	width: 150px;
	margin-left: 390px;
	list-style: none;

}

.tab{
	border-top: 2px solid  #424242 ;
	border-left: 2px solid  #424242 ;
	border-right: 2px solid  #424242 ;
	border-bottom: 1px solid #FFC107;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-decoration: none;


}
.tab:hover{
	background: #DCDCDC;
	border-bottom: 6px solid #FFC107;

}
.tab:focus {
	background: #DCDCDC;
	border-bottom: 6px solid #FFC107;
	text-decoration: none;
}
.tab:active {
	border-bottom: 6px solid #FFC107;
	background: #DCDCDC;
	text-decoration: none;

}

.tab:focus,tab:active {outline: none;}/*sacar la molesta linea azul cuando uno clikea el boton*/

/*Primera sección: Overview -----------------------------------------------*/

#overview{
	position: relative;
	width: 100%;
	height:565px;
	margin-top: 5%;
}
#upper-row{
	position: absolute;
	width: 100%;
	height: 50%;
}
.contenedor-data1{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #FFF;
	box-sizing: border-box;
}
.contenedor-data2{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-left: 5px;
	top: 50%;
	background-color: #FFF;
	box-sizing: border-box;
}
#contenedor{
	width: 40%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
  	left: 20%;
  	padding: 5px;
  	padding-bottom: 0;
  	box-sizing: border-box;
}
.graph-left1{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	left: 60%;
	background-color: #FFF;
	box-sizing: border-box;
}
#graph1{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}
.graph-left2{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	top: 50%;
	left: 60%;
	background-color: #FFF;
	box-sizing: border-box;
}
#graph2{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	top: 50%;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}

#down-row{
	position: absolute;
	width: 100%;
	height: 49.5%;
	top: 50%;
}
#cont{
	width: 40%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	left: 20%;
	padding: 5px;
	padding-bottom: 0;
  box-sizing: border-box;
}
#graph3{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}
#graph4{
	position: absolute;
	width: 19.55%;
	height: 48.10%;
	margin-top: 5px;
	margin-right: 5px;
	top: 50%;
	left: 80%;
	background-color: #FFF;
	box-sizing: border-box;
}

/*Segunda sección: Students -----------------------------------------------*/

#students{
	position: relative;
	width: 100%;
	height:565px;
	top: 70px;
	background-color: #F7F7F7;
	/*display: none;*/
}

/*Tercera sección: Staff --------------------------------------------------*/

#staff{
	position: relative;
	width: 100%;
	height:565px;
	top: 70px;
	background-color: red;
}
